:root {
  --primery-text-color: #212121;
  --accent-color: #757575;
  --second-color: #ffffff;
  --activ-color: #2196f3;
  --footer-color: #2f303a;
  --footer-rjba-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid red;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.link:hover,
.link:focus {
  color: var(--activ-color)
}


/* Header */
.header-span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primery-text-color);
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--activ-color)
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

/* .section-title,
.project-title {
  opacity: 0;
} */

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: #212121;
  background: var(--second-color);
}

.btn:hover,
.btn:focus {
  color: var(--second-color);
  background-color: var(--activ-color)
}

/* project*/
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--accent-color);
}

/* Footer */
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--activ-color)
}

.footer-span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--second-color);
}

.footer-adr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-color);
}

.footer-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-rjba-color)
}

.footer-link:hover,
.footer-link:focus {
  color: var(--second-color);
  background-color: var(--activ-color)
}

.footer {
  background: var(--footer-color)
}

.footer-adr:hover {
  color: var(--second-color);
  background-color: var(--activ-color)
}


