html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primery-text-color: #212121;
  --accent-color: #757575;
  --activ-color: #2196f3;
  --second-color: #ffffff;
  --background-color: #2f303a;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */
.header-span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--activ-color);
}

.lists {
  cursor: pointer;
}

.header-list {
  display: flex;
  margin-left: 0;
  align-items: center;
}

.header-containers {
  display: flex;
  align-items: center;
}

.header-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primery-text-color);
}

.header-list > .item:not(:last-child) {
  margin-right: 50px;
}

.header-group {
  margin-left: auto;
}

.header-link-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  color: var(--accent-color);

  width: 135px;
  height: 16px;
}

/* .header-group {
  margin-right: 100px;
} */

.header-link-tel {
  margin-right: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  width: 122px;
  height: 16px;
}

.link:hover,
.link:focus {
  color: var(--activ-color);
}

/* Section-main */

.main {
  outline: 1px solid green;
}

.main-title {
  display: flex;
  outline: 3px solid blue;
  margin-top: 0;
  margin-left: 0;
  padding: 250px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--background-color);
}

.main-btn {
  display: flex;
  padding: 10px 32px;

  align-items: center;
  text-align: center;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;


  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: 1px solid red;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.main-btn:hover,
.main-btn:focus {
  color: #ffffff;
}

/* .heros {
  opacity: 0;
} */

/* Hero */

.heros {
  display: flex;
  justify-content: center;
}

.hero-list {
  outline: 1px solid tomato;
  padding: 0;
  margin: 0;
  list-style: 0;

  display: flex;
}

.hero-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.hero-text {
  outline: 1px solid green;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
/* Occupation */

.occupation-list {
  outline: 1px solid tomato;
  padding: 0;
  margin: 0;
  list-style: 0;

  display: flex;
}

.occupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* Team */

.team-card {
  width: 1200px;
  height: 648px;

  background: #f5f4fa;
}

.team-logo {
  display: flex;
  flex-direction: column;

  /* padding-top: 30px; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.team-list {
  outline: 1px solid blue;
  padding: 0;
  margin: 0;
  list-style: 0;

  display: flex;
  flex-wrap: wrap;

  margin-top: -18px;
  margin-left: -18px;

  margin-top: 120px;
}

.team-list > .team-item {
  outline: 1px solid green;

  flex-basis: calc(100% / 4 - 18px);

  margin-top: 18px;
  margin-left: 18px;

  margin-bottom: 20px;

  width: 270px;
  height: 368px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* Footer  */

.footer-links {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--activ-color);
}

.footer-span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.footer-linkk {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.footer-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  margin-left: auto;
  background: #2f303a;
}
