*,
*::before,
*::after {
  box-sizing: border-box;
}






:root {
  --primery-text-color: #212121;
  --accent-color: #757575;
  --activ-color: #2196f3;
  --second-color: #ffffff;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}


h1,
h2,
h3,
h4,
p {
margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid red;
}
 
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */
.header-span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--activ-color);
}

.lists {
  cursor: pointer;
}

.header-list {
  display: flex;
}

.header-container{
  display: flex;
  align-items: center;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  color: var(--primery-text-color);
}


.header-link-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 331px;
  /* margin-right: 50px; */
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--activ-color);
}

/* Section-main */
/* .mains {
  width: 1600px;
height: 600px;
left: 0px;
top: 80px;

} */

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--primery-text-color);
}

.main-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  margin-left: 300px;
}

.main-btn:hover,
.main-btn:focus {
  color: blue;
  background-color: yellow;
}

/* .heros {
  opacity: 0;
} */

/* Hero */
.hero-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.occupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* Team */
.team-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* Footer  */
.footer-links {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--activ-color);
}

.footer-span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.footer-linkk {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.footer-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background: #2f303a;
}
